/* @font-face {
    font-family: 'MyFont';
    src: url('./fonts/webfont.woff2') format('woff2'), url('./fonts/webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
} */

.color_red {
    color: red;
    /* font-family: 'MyFont'; */
    background: url('./icon.png');
}